<app-container>
    <mat-card>
        <mat-card-content>
            <div class="grid-container">
                <div *ngFor="let cliente of listaClientes" class="grid-item">
                    <p>Nome: {{ cliente.nome }}</p>
                    <p>Email: {{ cliente.email }}</p>
                    <p>CPF: {{ cliente.cpf }}</p>
                    <p>Telefone: {{ cliente.telefone }}</p>
                    <button (click)="selecionarCliente(cliente)" mat-dialog-close><mat-icon>check_circle</mat-icon></button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</app-container>
