app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px; // Espaçamento interno do container
  gap: 24px; // Espaçamento entre os elementos

  mat-card {
    width: 100%;
    max-width: 600px; // Largura máxima do card
    padding: 16px;
    background-color: #555555; // Cor de fundo do card
    border-radius: 8px; // Bordas arredondadas
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra do card
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      background-color: #007bff; // Cor de fundo do botão
      color: white; // Cor do texto do botão
      border: none; // Remove a borda padrão do botão
      border-radius: 4px; // Bordas arredondadas do botão
      padding: 10px 16px; // Espaçamento interno do botão
      font-size: 16px; // Tamanho da fonte do botão
      cursor: pointer; // Cursor de mão ao passar o mouse
      transition: background-color 0.3s; // Transição suave para a cor de fundo

      &:hover {
        background-color: #0056b3; // Cor de fundo ao passar o mouse
      }
    }
  }

  .cliente-info {
    width: 100%;
    max-width: 600px; // Largura máxima da seção de cliente selecionado
    background-color: #ffffff; // Cor de fundo
    border-radius: 8px; // Bordas arredondadas
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra
    text-align: center; // Centraliza o texto

    h2 {
      margin-bottom: 16px; // Espaçamento inferior do título
      font-size: 24px; // Tamanho da fonte do título
      color: #000000; // Cor do texto do título
    }

    p {
      font-size: 16px; // Tamanho da fonte dos parágrafos
      color: #666; // Cor do texto dos parágrafos
      margin: 8px 0; // Espaçamento entre os parágrafos
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 colunas iguais
    gap: 16px; // Espaçamento entre os itens
    max-width: 1200px; // Largura máxima da grid

    .grid-item {
      background-color: #f9f9f9;
      border-radius: 8px; // Bordas arredondadas
      padding: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra

      p {
        margin: 4px 0; // Espaçamento entre os parágrafos
      }

      button {
        padding: 3px 6px; // Espaçamento interno dos botões
        border: none; // Remove bordas padrão dos botões
        border-radius: 3px; // Bordas arredondadas para os botões
        font-size: 8px; // Tamanho da fonte dos botões
        cursor: pointer; // Cursor de mão ao passar o mouse sobre o botão
        transition: background-color 0.3s; // Transição suave para a cor de fundo
        margin: 1px;

        &.add-button {
          background-color: #28a745; // Cor de fundo para o botão Salvar
          color: white; // Cor do texto para o botão Salvar

          &:hover {
            background-color: #218838; // Cor de fundo ao passar o mouse
          }
        }
      }

      .button-container {
        display: flex;
        justify-content: space-between; // Espaça os botões uniformemente
        margin-top: 8px; // Espaçamento superior para os botões

        button {
          background-color: transparent; // Remove a cor de fundo
          border: none; // Remove a borda padrão
          cursor: pointer; // Cursor de mão ao passar o mouse

          mat-icon {
            color: #007bff; // Cor do ícone
          }

          &:hover mat-icon {
            color: #0056b3; // Cor do ícone ao passar o mouse
          }
        }
      }
    }
  }

  .paginacao {
    margin: 10px;
    display: flex;
    justify-content: center; // Centraliza os botões de paginação
    align-items: center;
    gap: 16px; // Espaçamento entre os elementos

    button {
      background-color: #007bff; // Cor de fundo dos botões de paginação
      color: white; // Cor do texto dos botões de paginação
      border: none; // Remove a borda padrão dos botões de paginação
      border-radius: 4px; // Bordas arredondadas dos botões de paginação
      padding: 8px 12px; // Espaçamento interno dos botões de paginação
      font-size: 14px; // Tamanho da fonte dos botões de paginação
      cursor: pointer; // Cursor de mão ao passar o mouse
      transition: background-color 0.3s; // Transição suave para a cor de fundo

      &:hover {
        background-color: #0056b3; // Cor de fundo ao passar o mouse
      }

      &:disabled {
        background-color: #ccc; // Cor de fundo ao desabilitar o botão
        cursor: not-allowed; // Cursor ao desabilitar o botão
      }
    }

    span {
      font-size: 16px; // Tamanho da fonte do número da página
      color: #666; // Cor do texto do número da página
    }
  }

  .carrinho {
    width: 100%;
    max-width: 600px; // Largura máxima do carrinho
    background-color: #f9f9f9; // Cor de fundo
    border-radius: 8px; // Bordas arredondadas
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra

    h2 {
      margin-bottom: 16px; // Espaçamento inferior do título
      font-size: 24px; // Tamanho da fonte do título
      color: #000000; // Cor do texto do título
    }

    .produto-carrinho {
      display: flex;
      justify-content: space-between; // Espaça os itens uniformemente
      align-items: center;
      padding: 8px 0; // Espaçamento interno do item do carrinho
      border-bottom: 1px solid #757575; // Borda inferior para separação

      p {
        margin: 0; // Remove a margem dos parágrafos
        font-size: 16px; // Tamanho da fonte dos parágrafos
        color: #666; // Cor do texto dos parágrafos
      }

      .remove-button {
        background-color: #dc3545; // Cor de fundo do botão de remover
        color: white; // Cor do texto do botão de remover
        border: none; // Remove a borda padrão do botão de remover
        border-radius: 4px; // Bordas arredondadas do botão de remover
        padding: 5px 10px; // Espaçamento interno do botão de remover
        font-size: 12px; // Tamanho da fonte do botão de remover
        cursor: pointer; // Cursor de mão ao passar o mouse
        transition: background-color 0.3s; // Transição suave para a cor de fundo

        &:hover {
          background-color: #c82333; // Cor de fundo ao passar o mouse
        }
      }
    }
  }

  .realizar-pedido-button {
    margin: 10px;
    background-color: #28a745; // Cor de fundo do botão de realizar pedido
    color: white; // Cor do texto do botão de realizar pedido
    border: none; // Remove a borda padrão do botão de realizar pedido
    border-radius: 4px; // Bordas arredondadas do botão de realizar pedido
    padding: 10px 16px; // Espaçamento interno do botão de realizar pedido
    font-size: 16px; // Tamanho da fonte do botão de realizar pedido
    cursor: pointer; // Cursor de mão ao passar o mouse
    transition: background-color 0.3s; // Transição suave para a cor de fundo

    &:hover {
      background-color: #218838; // Cor de fundo ao passar o mouse
    }

    &:disabled {
      background-color: #ccc; // Cor de fundo ao desabilitar o botão
      cursor: not-allowed; // Cursor ao desabilitar o botão
    }
  }
}
