<app-sidenav>
</app-sidenav>
<app-container>
    <mat-card>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-content>
            <div class="grid-container">
                <div *ngFor="let produto of listaProdutos" class="grid-item">
                    <p>{{ produto.nome }}</p>
                    <p>{{ produto.categoria }}</p>
                    <div>
                        <button mat-icon-button [routerLink]="'/auth/produtos/excluirProduto/' + produto.id">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button [routerLink]="'/auth/produtos/editarProduto/' + produto.id">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div class="buttonAdicionar">
            <button mat-stroked-button routerLink="/auth/criarProduto">Adicionar Produto</button>
        </div>
    </mat-card>
</app-container>